body {
    display: grid;
    grid-template-rows: 48px 1fr 48px;
    grid-template-columns: 100%;
    height: 100vh;
}

.header {
    border-bottom: 1px solid #e8e8e8;
}

.main {
    overflow: auto;
}

.slider {
    margin-bottom: 20px;
}

.course {
    margin-bottom: 10px;
}

.tabbar {
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.15);
}