.tabbar_wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    height: 100%;
    background-color: #f6f6f6;
    font-size: 14px;
}

.tabbar_wrap .tabbar_item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    color: #c2cfcc;
}

.tabbar_wrap .tabbar_item.active {
    color: #00b38a;
    background-color: #e7f3f0;
}

.tabbar_wrap .tabbar_item .iconfont {
    font-size: 20px;
}