.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0 20px;
}

.header_wrap .logo .logo_img {
    /* 图片等比例缩放 */
    height: 30px;
}

.header_wrap .header_toggle {
    padding: 10px;
    border-radius: 4px;
    margin-top: 4px;
}

.header_wrap .header_toggle .toggle_bar {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #363636;
    border-radius: 2px;
}

.toggle_bar+.toggle_bar {
    margin-top: 4px;
}