* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
    background: rgb(242, 246, 255);
}

ol, ul, dl {
    list-style: none;
}

button {
    background: none;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

img {
    max-width: 100%;
}

.w {
    max-width: 1234px;
    margin: 0 auto;
    padding: 0 30px;
}