.topbar {
    height: 42px;
    line-height: 42px;
    color: #fff;
    background-color: #000;
    font-size: 15px;
    text-align: center;
}

.bg {
    position: absolute;
    width: 100%;
    height: 1200px;
    background: linear-gradient(189.16deg, rgb(57, 15, 199) 13.57%, rgb(40, 35, 77) 98.38%);
    overflow: hidden;
    z-index: -1;
}

.ball1 {
    position: absolute;
    top: 250px;
    left: 200px;
    width: 500px;
    height: 500px;
    background: pink linear-gradient(rgba(186, 117, 255, 0.49) 26.56%, rgb(57, 19, 184) 100%);
    animation: ball 35s infinite alternate;
}

.ball2 {
    position: absolute;
    top: 250px;
    left: 200px;
    width: 500px;
    height: 500px;
    background: pink linear-gradient(rgba(47, 184, 255, 0.42) 31.77%, rgb(158, 236, 217) 100%);
    animation: ball 25s infinite alternate;
}

@keyframes ball {
    0% {
        transform: translate(-200px, 0) rotate(-90deg);
        border-radius: 51% 49% 58% 42% / 34% 78% 22% 66%;
    }
    100% {
        transform: translate(400px, 100px) rotate(-120deg);
        border-radius: 22% 78% 73% 27% / 67% 31% 69% 33%;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.header .logo img {
    width: 44px;
    height: 44px;
}

.nav {
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 26px;
}

.nav a button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.nav a button:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(31, 47, 71, 0.25) 0 20px 40px, rgba(0, 0, 0, 0.1) 0 1px 5px, rgba(255, 255, 255, 0.4) 0 0 0 1px inset;
}

.nav a button img {
    width: 24px;
    height: 24px;
}

.nav a button p {
    font-size: 15px;
    color: #fff;
    margin-left: 10px;
}

.mobile-nav {
    display: none;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(15, 14, 71, 0.3);
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;;
    backdrop-filter: blur(40px);
    border-radius: 50%;
}

@media (max-width: 1024px) {
    .nav {
        grid-template-columns: repeat(6, auto);
    }

    .nav a:nth-child(4) {
        display: none;
    }
}

@media (max-width: 900px) {
    .nav {
        grid-template-columns: repeat(5, auto);
    }

    .nav a:nth-child(3) {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav {
        grid-template-columns: repeat(4, auto);
    }

    .nav a:nth-child(2) {
        display: none;
    }
}

@media (max-width: 500px) {
    .nav {
        display: none;
    }

    .header {
        padding-top: 20px;
    }

    .mobile-nav {
        display: flex;
    }
}

.course {
    display: grid;
    grid-template-columns: 380px auto;
    align-items: end;
    gap: 80px;
    margin-top: 60px;
}

.course .course-left {
    color: #fff;
}

.course .course-left .time {
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.7);
}

.course .course-left h2 {
    font-size: 40px;
    line-height: 48px;
    margin: 20px 0;
}

.course .course-left p {
    font-size: 17px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.7);
}

.course .course-right {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.icon ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

.icon ul li img {
    width: 44px;
    height: 44px;
}

.search {
    position: relative;
}

.search img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
}

.search input {
    width: 204px;
    height: 44px;
    padding: 10px 42px;
    border-radius: 30px;
    background: linear-gradient(rgba(99, 106, 150, 0.8) 0%, rgba(182, 186, 214, 0.6) 100%);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0 20px 40px, rgba(255, 255, 255, 0.3) 0 0 0 1px inset;
}

.search input:focus {
    box-shadow: rgba(47, 184, 255, 0.3) 0 10px 40px, rgb(47, 184, 255) 0 0 0 1px inset;
    background: linear-gradient(rgba(24, 32, 79, 0.4) 0%, rgba(24, 32, 79, 0.25) 100%)
}

@media (max-width: 1280px) {
    .course {
        grid-template-columns: 1fr;
    }

    .course-left {
        max-width: 380px;
    }
}

@media (max-width: 1024px) {
    .course-left {
        max-width: 380px;
        margin: auto;
        text-align: center;
    }
}

@media (max-width: 700px) {
    .course-right {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}

.course-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 40px;
    margin-top: 40px;
    padding: 0 40px;
}

.course-card .item {
    height: 360px;
    padding: 20px;
    border-radius: 20px;
    background: pink linear-gradient(209.21deg, rgb(73, 79, 254) 13.57%, rgb(15, 19, 36) 98.38%);
    cursor: pointer;
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.course-card .item:hover {
    transform: scale(1.1);
    box-shadow: rgba(15, 19, 36, 0.3) 0 20px 40px, rgba(0, 0, 0, 0.05) 0 1px 3px;
}

.course-card .item figure {
    position: relative;
    height: 150px;
    text-align: center;
}

.course-card .item figure > img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.course-card .item figure .icon1, .course-card .item figure .icon2 {
    position: absolute;
    right: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.course-card .item figure .icon1 {
    top: 0;
}

.course-card .item figure .icon2 {
    top: 42px;
}

.course-card .item h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    height: 100px;
    line-height: 140%;
    margin: 10px 0;

    /*超出3行显示省略号*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.course-card .item p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

.course-card .item .star {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 10px auto 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-card .item:nth-child(4n) {
    background: linear-gradient(209.21deg, rgb(242, 136, 133) 13.57%, rgb(233, 79, 102) 98.38%);

}

@media (max-width: 768px) {
    .course-card {
        gap: 20px;
        padding: 0 20px;
    }
}

.story-card {
    position: relative;
    z-index: 999;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 100px;
}

.story-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.story-card .top {
    display: grid;
    grid-template-columns: 42px auto;
    gap: 20px;
}

.story-card .top .name {
    font-weight: 500;
    font-size: 20px;
}

.story-card .middle {
    height: 240px;
    border-radius: 20px;
    margin: 20px 0;
    background-color: rgb(165, 206, 255);
    text-align: center;
}

.story-card .middle img {
    max-height: 240px;
}

.story-card .desc {
    font-size: 13px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.7);
}

.story-card button {
    background: linear-gradient(rgba(24, 32, 79, 0.4) 0%, rgba(24, 32, 79, 0.4) 100%);
    box-shadow: rgba(0, 0, 0, 0.15) 0 20px 40px, rgba(0, 0, 0, 0.2) 0 0 0 0.5px inset;
    border-radius: 30px;
    text-transform: uppercase;
    border: none;
    font-size: 13px;
    color: #fff;
    padding: 8px 15px;
    margin-top: 20px;
}

.story-left-left .top .info {
    font-size: 13px;
}

.story-left-left .top img {
    border-radius: 50%;
}

.story-right-top, .story-right-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-content: start;
}

.story-right .pic {
    height: 240px;
    background-color: #000;
    border-radius: 20px;
    overflow: hidden;
}

.story-right .pic img {
    max-height: 240px;
}

.story-right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.story-right .toggle {
    display: none;
}

.story-left > div, .story-right > div {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 0.5px inset;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 20px;
}

@media (max-width: 1250px) {
    .story-card {
        grid-template-columns: 1fr;
        max-width: 768px;
    }
}

@media (max-width: 680px) {
    .story-left {
        grid-template-columns: 1fr;
        max-width: 400px;
        margin: 0 auto;
    }

    .story-right .toggle {
        display: grid;
    }

    .story-right .info .top {
        display: none;
    }

    .story-right-top, .story-right-bottom {
        grid-template-columns: 1fr;
        max-width: 400px;
        margin: 0 auto;
    }
}

.footer {
    position: relative;
    width: 100%;
    height: 800px;
    background-color: rgb(30, 19, 87);
    margin-top: 100px;
}

.footer .con {
    position: absolute;
    top: -300px;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.footer .wave {
    position: absolute;
    left: 0;
    top: 150px;
    width: 100%;
    height: 600px;
    background: linear-gradient(rgba(19, 12, 62, 0.8) 0%, rgb(30, 19, 87) 28%);
    clip-path: url(#wave2);
}

@media (min-width: 1400px) {
    .footer .wave {
        transform: scale(1.5);
    }
}

.footer svg {
    width: 100%;
 }

.footer-con {
    position: absolute;
    top: 200px;
    left: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    transform: translate(-50%, -50%);
    width: 660px;
    padding: 0 20px;
}

@media (max-width: 600px) {
    .footer-con {
        grid-template-columns: 1fr;
        justify-items: center;
        max-width: 400px;
    }
}

.footer-con-left {
    display: grid;
    grid-template-columns: 144px 144px;
    gap: 20px;
}

.footer-con-left .item {
    display: grid;
    grid-template-rows: repeat(5, 44px);
    row-gap: 20px;
}

.footer-con-left .item button {
    width: 144px;
    height: 44px;
    padding-left: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.footer-con-left .item button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(31, 47, 71, 0.25) 0 20px 40px, rgba(0, 0, 0, 0.1) 0 1px 5px, rgba(255, 255, 255, 0.4) 0 0 0 1px inset;
}

.footer-con-left .item a {
    color: #fff;
}

.footer-con-left .item a p {
    color: #fff;
}

.footer-con-left .item button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.footer-con-right {
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
    padding-top: 60px;
}

.footer-con-right p:nth-child(2) {
    margin-top: 20px;
}

.footer-con-right p:nth-child(3) {
    margin: 20px 0;
    font-weight: 500;
}
