body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    flex-shrink: 0;
    height: 12.8vw;
    width: 100%;
    border-bottom: 0.27vw solid #e8e8e8;
}

.main {
    flex-grow: 1;
    overflow: auto;
}

.slider {
    margin-bottom: 5.33vw;
}

.course {
    margin-bottom: 2.67vw;
}

.tabbar {
    flex-shrink: 0;
    width: 100%;
    height: 12.8vw;
    box-shadow: 0 -1.07vw 1.07vw rgba(0, 0, 0, 0.15);
}