.footer .part1 {
    height: 220px;
    background-color: #f7f7f7;
}

.footer .part1 .nav {
    padding-top: 36px;
}

.footer .part1 .nav ul li {
    float: left;
    border-right: 1px solid #1c1f21;
    padding: 0 30px;
    height: 16px;
    line-height: 16px;
}

.footer .part1 .nav ul li:first-child {
    padding-left: 0;
}

.footer .part1 .nav ul li:last-child {
    border-right: none;
    padding-right: 0;
}

.footer .part1 .nav ul li a {
    color: #1c1f21;
}

.footer .part1 .dl-box {
    padding-top: 40px;
}

.footer .part1 .dl-box dl {
    position: relative;
    float: left;
    width: 289px;
    padding-left: 75px;
    margin-right: 30px;
}

.footer .part1 .dl-box dl:last-child {
    margin-right: 0;
}

.footer .part1 .dl-box dl dt {
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.5;
}

.footer .part1 .dl-box dl dd {
    font-size: 14px;
    line-height: 1.5;
}

.footer .part1 .dl-box dl::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(../../assets/images/icons.png);
    left: 0;
}

.footer .part1 .dl-box .txfw::before {
    background-position: -150px -178px;
}

.footer .part1 .dl-box .ccsx::before {
    background-position: -150px -104px;
}

.footer .part1 .dl-box .axph::before {
    background-position: -150px -31px;
}

.footer .part2 {
    height: 225px;
    background-color: #1C1F21;
}

.footer .part2 .description-box {
    padding-top: 48px;
    color: #fff;
}

.footer .part2 .description-box h2 {
    font-size: 46px;
}

.footer .part2 .description-box p {
    position: relative;
    top: 10px;
    width: 532px;
    font-size: 14px;
    margin-left: 21px;
    line-height: 1.2;
}

.footer .part2 .links {
    padding-top: 30px;
}

.footer .part2 .links ul li {
    float: left;
    border-right: 1px solid #fff;
    padding: 0 10px;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
}

.footer .part2 .links ul li:first-child {
    padding-left: 0;
}

.footer .part2 .links ul li:last-child {
    border-right: none;
}

.footer .part2 .links ul li a {
    color: #fff;
}

.footer .part2 .copyright {
    color: #fff;
    padding-top: 20px;
    font-size: 14px;
}

.footer .part2 .copyright a {
    color: #fff;
}

.backtotop {
    position: fixed;
    bottom: 80px;
    right: 80px;
    width: 80px;
    background-color: #ccc;
    font-size: 20px;
    padding: 12px 0;
    text-align: center;
    box-sizing: border-box;
    color: #000;
    line-height: 1.5;
    display: none;
}