body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body * {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul, ol, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent; /*去除点击高亮*/
}

input, button, textarea {
    color: inherit;
    font: inherit;
    border: none;
}

a:focus, input:focus, button:focus, textarea:focus {
    outline: none;
}

ol, ul, dl {
    list-style: none;
}

