.header-container {
  width: 100%;
  height: 77px;
  background-color: #fff;
  border-bottom: 1px solid #9d9895;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.header {
  width: 1251px;
  height: 77px;
  margin: 0 auto;
  overflow: hidden;
}

.header .logo {
  float: left;
}

.header .logo img {
  width: 217px;
  height: 45px;
  margin-top: 15px;
}

.header .city {
  float: left;
  line-height: 77px;
}

.header .city > img {
  width: 11px;
  height: 17px;
  margin-left: 31px;
  margin-right: 7px;
  vertical-align: middle;
}

.header .city > a {
  padding: 9px;
  background-color: #ccc;
  color: #fff;
  margin-left: 13px;
}

.header .nav {
  float: left;
  height: 100%;
  line-height: 77px;
  margin-left: 66px;
}

.header .nav a {
  color: #220e03;
  margin-right: 29px;
}

.header .nav a:first-child {
  margin-right: 36px;
}

.header .nav a:last-child {
  margin-right: 0;
}

.header .link {
  float: right;
  height: 77px;
  line-height: 77px;
}

.header .link > img {
  width: 23px;
  height: 23px;
  float: left;
  margin-right: 23px;
  margin-top: 27px;
}

.header .link > a {
  padding: 12px 8px;
  border: 1px solid #989898;
  color: #03000e;
}

.footer-container {
  height: 125px;
  background-color: #3e2d23;
}

.footer {
  width: 1251px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.footer-container .footer .footer-top {
  margin-top: 37px;
  margin-left: 8px;
  margin-right: 8px;
}

.footer-container .footer .info {
  float: left;
}

.footer-container .footer .info li {
  float: left;
  color: #fff;
  padding-left: 22px;
  padding-right: 18px;
}

.footer-container .footer .info li + li {
  border-left: 1px solid #b3a59c;
}

.footer-container .footer .tel {
  float: right;
}

.footer-container .footer .tel a {
  margin-right: 45px;
  color: #fff;
}

.footer-container .footer .tel a img {
  float: left;
  margin-right: 3px;
}

.footer-container .footer .copyright {
  text-align: center;
  margin-top: 34px;
  color: #fff;
}

.footer-container .footer .copyright span {
  margin-right: 40px;
}
